/* 
0 - 600px:  Phone
600 - 900px: Tablet portrait mode
900 - 1200px: Tablet in landscape mode

1200 - 1800: normal styles apply (desktop first)

1em = 16px

$breakpoint argument choices:
-phone
-tab-port
-tab-land
*/
#wpcf7-f100-p29-o1 {
  padding-bottom: 10rem; }

#wpcf7-f100-p29-o1 input[type='submit'] {
  width: 30%; }

#wpcf7-f100-p29-o1 textarea {
  padding: 1.5rem;
  width: 100%;
  border: 2px solid #ccd3ed;
  border-radius: 3px;
  font-family: 'Lato';
  font-size: 1.5rem; }

#wpcf7-f100-p29-o1 label {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.7rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*10px percentage of default 16px font size */ }
  @media (max-device-width: 36em) {
    html {
      font-size: 35%; } }
  @media (max-device-width: 48em) {
    html {
      font-size: 40%; } }
  @media (max-device-width: 75em) {
    html {
      font-size: 48%; } }

body {
  box-sizing: border-box;
  height: 100vh;
  line-height: 1.6rem;
  background-color: #f5f5f5; }

#header {
  top: 0;
  border: 1px solid transparent; }

.container {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto; }

#wrapper {
  min-height: 100%;
  position: relative;
  background-color: #f5f5f5;
  margin-top: 0;
  padding-top: 0; }

#main {
  padding: 1rem;
  padding-bottom: 6rem;
  background-color: #f5f5f5; }

#header {
  margin: 0;
  padding: 0; }

:root {
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
  line-height: 2rem; }

.italic {
  font-style: italic;
  font-weight: 300; }

.blog-container {
  position: relative;
  width: 100% !important;
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  z-index: 0; }

.blog {
  width: 60%;
  margin-top: 5rem;
  margin-bottom: 4.5rem;
  margin-left: 20%;
  padding-bottom: 2rem; }
  @media (max-device-width: 48em) {
    .blog {
      width: 80%;
      margin: 6.5rem 1rem 6.5rem 6rem; } }
  @media (max-width: 48em) {
    .blog {
      width: 80%;
      margin: 6.5rem 1rem 6.5rem 6rem; } }
  .blog__heading {
    font-size: 4rem;
    line-height: 4.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-weight: 300; }
  .blog__item {
    font-size: 2.5rem;
    text-decoration: none;
    line-height: 3.7rem;
    padding: 1rem; }
  .blog__item--heading a:link,
  .blog__item--heading a:visited,
  .blog__item--heading a:active {
    text-decoration: none;
    color: #252729; }
  .blog__item--heading a:hover {
    color: #d60024; }
  .blog__item--content {
    font-size: 1.6rem;
    padding: 1rem 0; }
  .blog__excerpt {
    font-size: 1.6rem;
    line-height: 2.1rem;
    padding: 1rem; }
    .blog__excerpt--link:link, .blog__excerpt--link:visited, .blog__excerpt--link:hover, .blog__excerpt--link:active {
      display: inline-block;
      padding: 1rem;
      text-decoration: none;
      background-color: #305fb8;
      margin-top: 2rem;
      color: #fff;
      cursor: pointer; }
  .blog__date {
    font-size: 1.6rem;
    padding: 1rem; }
  .blog__pagination {
    font-size: 1.6rem;
    padding: 1rem 1rem 6rem 1rem;
    font-weight: 300;
    margin-bottom: 4.5rem; }

.post-container {
  width: 100%;
  position: relative; }

.post {
  padding: 6rem 0 8rem 0;
  margin-left: 40%;
  margin-right: 5%; }
  @media (max-device-width: 48em) {
    .post {
      margin-left: 5%;
      margin-right: 5%; } }
  @media (max-width: 48em) {
    .post {
      margin-left: 5%;
      margin-right: 5%; } }
  .post__heading {
    font-size: 3rem;
    line-height: 4rem;
    padding: 1rem 0; }
  .post__content {
    font-size: 1.6rem;
    line-height: 2.2rem; }
  .post__date {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 1rem 0; }
  .post__box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem 0 1rem 0; }
    .post__box--container {
      display: flex;
      flex-direction: row; }
    .post__box--home, .post__box--author {
      display: block;
      padding: 1.5rem; }
    .post__box--home {
      background-color: #305fb8;
      margin-right: 0; }
    .post__box--author {
      background-color: #ccd3ed;
      margin-left: 0; }
    .post__box--link:link, .post__box--link:visited, .post__box--link:hover, .post__box--link:active {
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem; }
    .post__box--homelink:link, .post__box--homelink:visited, .post__box--homelink:hover, .post__box--homelink:active {
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem;
      color: #fff; }

.sidebar {
  display: block;
  width: 30%; }
  @media (max-device-width: 48em) {
    .sidebar {
      display: none;
      width: 0%; } }
  @media (max-width: 48em) {
    .sidebar {
      display: none;
      width: 0%; } }
  .sidebar__content {
    padding: 1rem;
    margin-top: 10rem;
    margin-left: 1.5rem; }

.mainblog {
  display: flex;
  flex-direction: row; }

.sidebar ul {
  list-style: none;
  font-size: 1.6rem;
  line-height: 2.2rem; }

.widget-title {
  font-size: 1.6rem; }

.archive-toggle {
  display: none; }
  @media (max-device-width: 48em) {
    .archive-toggle {
      z-index: 10;
      display: inline-block;
      height: 1.5rem;
      position: relative;
      margin-top: 6.5rem;
      margin-left: 1rem;
      border: none;
      cursor: pointer;
      fill: none; }
      .archive-toggle__icon {
        font-size: 3rem; } }
  @media (max-width: 48em) {
    .archive-toggle {
      z-index: 10;
      display: inline-block;
      position: relative;
      height: 1.5rem;
      margin-top: 6.5rem;
      margin-left: 1rem;
      cursor: pointer;
      border: none;
      width: 4rem;
      fill: none; }
      .archive-toggle__icon {
        font-size: 3rem; } }

@media (max-device-width: 48em) {
  .sidebar .active {
    width: 100%;
    background-color: #252729;
    display: block; } }

@media (max-width: 48em) {
  .sidebar .active {
    width: 100%;
    background-color: #252729;
    display: flex;
    flex-direction: column;
    display: block; } }

.widget-title .active {
  color: #fff;
  text-align: center; }

.sidebar .active ul {
  text-align: center;
  color: #fff; }

#categories-2 {
  margin-top: 1.5rem; }

.footer {
  position: fixed;
  clear: both;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 6rem;
  background-color: #252729;
  display: flex;
  justify-content: center;
  cursor: pointer; }
  .footer__text {
    color: #f5f5f5;
    font-size: 2rem;
    padding: 1.5rem;
    margin-top: auto;
    margin-bottom: auto; }
    .footer__text--link:link, .footer__text--link:visited, .footer__text--link:hover, .footer__text--link:active {
      text-decoration: none;
      color: #f5f5f5; }
    .footer__text--icon {
      display: none; }
      @media (max-width: 48em) {
        .footer__text--icon {
          display: inline-block; } }
      @media (max-device-width: 48em) {
        .footer__text--icon {
          display: inline-block; } }
  .footer__text:hover {
    color: #fff; }
  .footer__links {
    margin-top: auto;
    margin-bottom: auto; }
  @media (max-width: 36em) {
    .footer__links {
      display: none; } }
  @media (max-device-width: 36em) {
    .footer__links {
      display: none; } }
  @media (max-device-width: 48em) {
    .footer__links {
      display: none; } }
  @media (max-width: 48em) {
    .footer__links {
      display: none; } }

.main {
  margin-bottom: 6rem;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }
  .main__container {
    height: 60rem;
    width: 90%;
    padding-top: 6rem;
    display: flex;
    margin-left: auto;
    margin-right: auto; }
    @media (max-device-width: 48em) {
      .main__container {
        flex-direction: column;
        width: 75%; } }
    @media (max-width: 48em) {
      .main__container {
        flex-direction: column;
        width: 75%; } }
    .main__container--heading {
      margin: 1.5rem;
      background-color: #d60024;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      text-transform: uppercase;
      text-align: center;
      border-radius: 4px;
      padding: 1rem 3rem; }
      @media (max-device-width: 48em) {
        .main__container--heading {
          width: 100%;
          overflow: hidden;
          padding: 3rem 3rem; } }
      @media (max-width: 48em) {
        .main__container--heading {
          width: 100%;
          overflow: hidden;
          padding: 3rem 3rem; } }
      .main__container--heading-primary {
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 4rem;
        color: #fff; }
        @media (max-device-width: 48em) {
          .main__container--heading-primary {
            font-size: 3rem;
            font-weight: 300;
            line-height: 4rem; } }
        @media (max-width: 48em) {
          .main__container--heading-primary {
            font-size: 3rem;
            font-weight: 300;
            line-height: 4rem; } }
        .main__container--heading-primary-art {
          font-size: 5rem;
          font-weight: 700;
          color: #f2ce00; }
          @media (max-device-width: 48em) {
            .main__container--heading-primary-art {
              font-size: 4rem;
              font-weight: 700; } }
          @media (max-width: 48em) {
            .main__container--heading-primary-art {
              font-size: 4rem;
              font-weight: 700; } }
      .main__container--heading-secondary {
        font-size: 2rem;
        letter-spacing: 1.2rem;
        line-height: 2.8rem; }
    .main__container--paragraph {
      width: 50%;
      margin-top: 2.5rem;
      align-items: center;
      padding: 1rem 3rem;
      font-size: 1.6rem;
      line-height: 2rem;
      margin-left: 3rem; }
      @media (max-device-width: 48em) {
        .main__container--paragraph {
          width: 100%; } }
      @media (max-width: 48em) {
        .main__container--paragraph {
          width: 100%; } }
  .main__slideshow {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem; }
    @media (max-device-width: 36em) {
      .main__slideshow {
        position: relative;
        margin-top: 15rem; } }
    @media (max-width: 36em) {
      .main__slideshow {
        position: relative;
        margin-top: 15rem; } }
    .main__slideshow--image {
      padding: 4rem;
      max-width: 100%;
      height: auto;
      display: block; }
  .main__middle {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: 2rem; }
    @media (max-device-width: 48em) {
      .main__middle {
        flex-direction: column; } }
    @media (max-width: 48em) {
      .main__middle {
        flex-direction: column; } }
    .main__middle--salons-in-the-cloud {
      width: 45%;
      padding: 2rem; }
      @media (max-device-width: 48em) {
        .main__middle--salons-in-the-cloud {
          width: 100%; } }
      @media (max-width: 48em) {
        .main__middle--salons-in-the-cloud {
          width: 100%; } }
      .main__middle--salons-in-the-cloud-linkheading:link, .main__middle--salons-in-the-cloud-linkheading:active, .main__middle--salons-in-the-cloud-linkheading:visited {
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 3rem;
        line-height: 3.5rem;
        text-decoration: none;
        color: #252729; }
      .main__middle--salons-in-the-cloud-linkheading:hover {
        background-color: #305fb8;
        color: #fff; }
      .main__middle--salons-in-the-cloud-p {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        font-weight: 300; }
      .main__middle--salons-in-the-cloud-heading-secondary {
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem; }
    .main__middle--mailing-list {
      font-size: 1.6rem;
      padding: 2rem; }
      @media (max-device-width: 48em) {
        .main__middle--mailing-list {
          width: 100%; } }
      @media (max-width: 48em) {
        .main__middle--mailing-list {
          width: 100%; } }
      .main__middle--mailing-list-heading {
        font-size: 3rem;
        margin-bottom: 3rem;
        line-height: 3.5rem; }
      .main__middle--mailing-list-form-title {
        font-size: 2rem;
        padding: 1.5rem;
        margin-left: -1rem; }
      .main__middle--mailing-list-form-input {
        padding: 1.5rem;
        width: 100%;
        border: 2px solid #ccd3ed;
        border-radius: 3px;
        font-family: 'Lato';
        font-size: 1.5rem; }
      .main__middle--mailing-list-form-input:focus {
        border: 2px solid #305fb8; }
      .main__middle--mailing-list-form-submit {
        font-family: 'Lato';
        font-size: 1.6rem;
        padding: 1.6rem;
        margin: 1rem 0 0 1rem;
        border: 0px;
        border-radius: 3px;
        background-color: #ccd3ed;
        cursor: pointer;
        margin-left: -.1rem;
        margin-top: 1rem; }
      .main__middle--mailing-list-form-submit:hover {
        background-color: #305fb8;
        color: #fff; }
  .main__bottom {
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    font-weight: 300;
    font-size: 1.6rem; }
    @media (max-device-width: 75em) {
      .main__bottom {
        margin-bottom: 2rem; } }
    @media (max-width: 75em) {
      .main__bottom {
        margin-bottom: 2rem; } }
    .main__bottom--image {
      height: 6rem;
      padding-right: 2rem; }

.wpcf7 {
  font-family: 'Lato'; }

input[type='submit'] {
  font-family: 'Lato';
  font-size: 1.6rem;
  padding: 1.6rem;
  margin: 1rem 0 0 1rem;
  border: 0px;
  border-radius: 3px;
  background-color: #ccd3ed;
  cursor: pointer;
  margin-left: -.1rem;
  margin-top: 1rem; }
  input[type='submit']:hover {
    background-color: #305fb8;
    color: #fff; }

input {
  padding: 1.5rem;
  width: 100%;
  border: 2px solid #ccd3ed;
  border-radius: 3px;
  font-family: 'Lato';
  font-size: 1.5rem; }

input[type='text'] {
  margin-bottom: 1.5rem; }

.home-link {
  width: 5rem;
  height: auto;
  border-radius: 5px; }
  @media (max-device-width: 48em) {
    .home-link {
      display: none; } }
  @media (max-width: 48em) {
    .home-link {
      display: none; } }

.nav a {
  font-size: 2rem;
  line-height: 2.2rem;
  font-family: 'Lato';
  font-weight: 400;
  text-decoration: none; }
  @media (max-device-width: 48em) {
    .nav a {
      font-size: 1.7rem;
      line-height: 2rem; } }
  @media (max-width: 48em) {
    .nav a {
      font-size: 1.7rem;
      line-height: 2rem; } }

.nav-container {
  width: 80%;
  margin-left: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6rem; }
  @media (max-device-width: 48em) {
    .nav-container {
      width: 100%;
      justify-content: space-between; } }
  @media (max-width: 48em) {
    .nav-container {
      width: 100%;
      justify-content: space-between; } }

.navbar-brand:hover {
  color: #d60024; }

.navbar-brand:active {
  color: #ccd3ed; }

.menu-primary-menu-links-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row; }

.menu-primary-menu-links-container a, .menu-primary-menu-links-container a:link, .menu-primary-menu-links-container a:active, .menu-primary-menu-links-container a:hover {
  text-decoration: none; }

.menu-primary-menu-links-container a, .menu-primary-menu-links-container a:link, .menu-primary-menu-links-container a:hover {
  color: #f5f5f5; }

.menu-primary-menu-links-container a:active {
  color: #ccd3ed; }

.menu-primary-menu-links-container li {
  padding: 1rem; }

.navbar {
  justify-content: space-evenly; }
  @media (max-device-width: 48em) {
    .navbar {
      justify-content: flex-start; } }
  @media (max-width: 48em) {
    .navbar {
      justify-content: flex-start; } }

nav {
  background-color: #252729; }

.fa-home {
  font-size: 2rem; }

.icon-link {
  padding: 1rem; }
  @media (max-device-width: 48em) {
    .icon-link {
      display: none; } }
  @media (max-width: 48em) {
    .icon-link {
      display: none; } }

.icon-link:link,
.icon-link:active,
.icon-link:visited {
  color: #f5f5f5; }

.navbar-toggler {
  display: none;
  cursor: pointer;
  outline: none; }
  @media (max-device-width: 48em) {
    .navbar-toggler {
      display: inline-block;
      color: #f5f5f5; } }
  @media (max-width: 48em) {
    .navbar-toggler {
      display: inline-block;
      color: #f5f5f5; } }

@media (max-device-width: 48em) {
  #main-menu {
    display: none; } }

@media (max-width: 48em) {
  #main-menu {
    display: none; } }

#main-menu.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  z-index: 10; }
  #main-menu.active ul {
    display: flex;
    flex-direction: column; }
    #main-menu.active ul li {
      display: block;
      background-color: #252729; }
      #main-menu.active ul li:hover {
        background-color: #ccd3ed; }
      #main-menu.active ul li a, #main-menu.active ul li a:active, #main-menu.active ul li a:link {
        color: #f5f5f5; }
      #main-menu.active ul li a:hover {
        color: #fff; }

.page {
  position: relative; }
  .page__header {
    width: 80%;
    margin-left: 5rem;
    position: absolute;
    font-size: 4.5rem;
    transform: translateY(9.5rem); }
  .page__content {
    width: 80%;
    margin-left: 5rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    transform: translateY(14rem); }

#af-wrapper {
  font-family: 'Lato', sans-serif; }

#af-wrapper #forum-header {
  background-color: #305fb8; }

#af-wrapper .title-element {
  background-color: #305fb8;
  border-bottom: none; }
