.events{
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: $footer-height;
    &__header {
        font-size: 3rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
}

#sc_calendar_wrap {
    padding: 2rem;
    position: relative;
    margin-bottom: $footer-height;
}
#sc_events_calendar_616488d4e85f6 {
    font-family: 'Lato', sans-serif;
}

#sc_calendar_title {
    font-weight: 300;
}