.footer{
    position: fixed;
    clear: both;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $footer-height;
    background-color: $color-black;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
    z-index: 100;

    &__text {
        color: $color-light-grey;
        font-size: 2rem;
        padding: 1.5rem;
        margin-top: auto;
        margin-bottom: auto;
        &--link:link,
        &--link:visited,
        &--link:hover,
        &--link:active{
            text-decoration: none;
            color: $color-light-grey;
        }
        &--icon{
            display: none;
            @include resize(mid){
                display: inline-block;
            }
            @include respond(tab-port){
                display: inline-block;
            }
        }
        
    }

    &__text:hover{
        color: $color-white;
    }
    &__links{
        margin-top: auto;
        margin-bottom: auto;
    
    }
    @include resize  (skinny){
        &__links{
            display: none;
        }
    }
    @include respond(phone) {
        &__links{
            display: none;
        }
    }
    @include respond(tab-port){
        &__links{
            display: none;
        }
    }
    @include resize(mid){
        &__links{
            display: none;
        }
    }
}