#af-wrapper {
    font-family: 'Lato', sans-serif;
}

#af-wrapper #forum-header {
    background-color: $color-blue;
}


#af-wrapper .title-element {
    background-color: $color-blue;
    border-bottom: none;
}