.main{
    margin-bottom: $footer-height;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &__container {

        width: 90%;
        padding-top: $nav-height;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;

        @include respond(tab-port) {
                flex-direction: column;
                width: 75%;

        }
        @include resize(mid){
            flex-direction: column;
            width: 75%;
        }
            &--heading{
                margin: 1.5rem;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                text-transform: uppercase;
                font-weight: 300;
                text-align: center;
                border-radius: 4px;
                padding: 1rem 3rem;
                font-size: 3.7rem;
                line-height: 4.5rem;
                
                @include respond(tab-port){
                    width: 100%;
                    overflow: hidden;
                    padding: 3rem 3rem;

                }
                @include resize(mid){
                    width: 100%;
                    overflow: hidden;
                    padding: 3rem 3rem;
                }
                             
                        

                    
            }
            &--paragraph{
                width: 100%;
                margin-top: 2.5rem;
                align-items: center;
                padding: 1rem 3rem;
                font-size: 1.6rem;
                line-height: 2rem;
                margin-left: 3rem;
                text-align: center;
                font-style: italic;
                
                
                @include respond(tab-port){
                    width: 100%;
                    
                }
                @include resize(mid){
                    width: 100%;
                }
                
            }
    }
    
    &__middle{
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        flex-direction: column;
        @include respond(tab-port){
            flex-direction: column;
        }
        @include resize(mid){
            flex-direction: column;
        }
        &--glide{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 1.5rem 1rem;
        }
        &--mailing-list{
            font-size: 1.6rem;
            padding: 2rem;
            width: 50%;
            @include respond(tab-port){
                width: 100%;
            }
            @include resize(mid){
                width: 100%;
            }
            &-heading{
                font-size: 2rem;
                margin-bottom: 3rem;
                line-height: 3.5rem;
                font-weight: 300;
                text-transform: uppercase;
            }
            &-form-title{
                font-size: 2rem;
                padding: 1.5rem;
                margin-left: -1rem;
            }
            &-form-input{
                padding: 1.5rem;
                width: 100%;
                border: 2px solid $color-blue-grey;
                border-radius: 3px;
                font-family: 'Lato';
                font-size: 1.5rem;

            }
            &-form-input:focus{
                border: 2px solid $color-blue;
            }
            &-form-submit{
                font-family: 'Lato';
                font-size: 1.6rem;
                padding: 1.6rem;
                margin: 1rem 0 0 1rem;
                border: 0px;
                border-radius: 3px;
                background-color: $color-blue-grey;
                cursor: pointer;
                margin-left: -.1rem;
                margin-top: 1rem;
            }
            &-form-submit:hover{
                background-color: $color-blue;
                color: $color-white;
            }
        }
    }
    &__bottom {
        display: flex;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
        font-weight: 300;
        font-size: 1.6rem;
        @include respond(tab-land){
            margin-bottom: 2rem;
        }
        @include resize(wide){
            margin-bottom: 2rem;
        }

        &--image{
            height: 6rem;
            padding-right: 2rem;
        }
        
        
    }
    


    
}
.wpcf7 {
    font-family: 'Lato'

    
}
input[type='submit']{
                font-family: 'Lato';
                font-size: 1.6rem;
                padding: 1.6rem;
                margin: 1rem 0 0 1rem;
                border: 0px;
                border-radius: 3px;
                background-color: $color-blue-grey;
                cursor: pointer;
                margin-left: -.1rem;
                margin-top: 1rem;

                &:hover{
                    background-color: $color-blue;
                    color: $color-white;
                }

}

input[type=text], input[type=email]{
    padding: .5rem;
    width: 100%;
    border: 2px solid $color-blue-grey;
    border-radius: 3px;
    font-family: 'Lato';
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
    
}
input[type=submit] {
    text-transform: uppercase;
    width: 30%;

}



.glide__container {
    position: relative;
    width: 80%;
    margin: 2.5rem auto 2.5rem auto;
    display: flex;
    align-items: center;

    
}

.glide__image {
    max-width: 100%;
    height: auto;
}

.slideshow{
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    width: 100%;
    &__arrows{
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        
        &--buttons{
            border: none;

        }
    }
}
.glide__container{
    width: 80%;
    margin: 2.5rem auto 2.5rem auto;
}

.glide__image{
    max-width: 100%;
    height: auto;
}
.glide__slide {
    display: flex;
    justify-content: center;
}

.slider{
    width: 90%;
    margin: 2.5rem auto 4rem auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
}