#iconLink{
    font-size: 2rem;
    padding: .2rem .5rem;
    @include respond(tab-port){
        display: none;
    }
    @include resize(mid){
        display: none;
    }
}

#navContainer {
    background-color: $color-black;
}

.nav{
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    
    
}



.nav-item{
    padding: .2rem .5rem;
}

.nav-link{
    color: $color-white;
    text-transform: uppercase;
}

#nav {
    background-color: $color-black;
}

.dropdown-item {
    text-transform: uppercase;
    font-weight: 300;
}