.home-link{
    width: 5rem;
    height: auto;
    border-radius: 5px;
    
    @include respond(tab-port){
        display: none;
    }
    @include resize(mid){
        display: none;
    }
}
.nav a {
    font-size: 2rem;
    line-height: 2.2rem;
    font-family: 'Lato';
    font-weight: 400;
    text-decoration: none;
    @include respond(tab-port){
        font-size: 1.7rem;
        line-height: 2rem;
    }
    @include resize(mid){
        font-size: 1.7rem;
        line-height: 2rem;
    }
}
.nav-container {
    width: 80%;
    margin-left: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    @include respond(tab-port){
        width: 100%;
    }
    @include resize(mid){
        width: 100%;
    }
}
.navbar-brand{
    &:hover{
        color: $color-white;
    }
    &:active{
        color: $color-blue-grey;
    }
    
}

.menu-primary-menu-links-container{
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
    a, a:link, a:active, a:hover {
        text-decoration: none;
    }
    a, a:link {
        color: $color-light-grey;
    }
    a:active {
        color: $color-blue-grey;
    }
    a:hover {
        color: $color-white;
    }
    li {
        padding: 1rem;
    }
}



.navbar {
    justify-content: space-evenly;


}

nav {
    background-color: $color-black;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.fa-home{
    font-size: 2rem;
    
}
.icon-link{
    padding: 1rem;
}

.icon-link:hover{
    color: $color-blue-grey;
}

.icon-link:link,
.icon-link:active,
.icon-link:visited{
    color:$color-light-grey;
}
.navbar-toggler {
    display: none;
}