
#wpcf7-f43-p13-o1 .your-name{
    width: 45%;
}
#wpcf7-f43-p13-o1 input[type="email"]{
    width: 45%;
}
#wpcf7-f43-p13-o1 .your-message{
    width: 100%;
    border: none;
}
#wpcf7-f43-p13-o1 {
    padding-bottom: 5rem;

}

#wpcf7-f43-p13-o1 label{
    text-transform: uppercase;

    font-style: italic;
}

