
$color-black: #252729;
$color-light-grey: #f5f5f5;
$color-red: #d60024;
$color-white: #fff;
$color-blue: #305fb8;
$color-yellow: #f2ce00;
$color-blue-grey: #ccd3ed;
$color-slate-grey: #48495c;


//colors


//Navbar
$nav-height: 6rem;
$footer-height: 6rem;


//bootstrap customization
$navbar-dark-color:                 $color-white;
$navbar-dark-hover-color:           $color-blue-grey !default;
$navbar-dark-active-color:          $color-white !default;

$navbar-dark-brand-color:                 $color-white !default;
$navbar-dark-brand-hover-color:           $color-blue-grey !default;


$nav-link-font-size:                2rem !default;
$nav-link-font-weight:              300 !default;

$dropdown-bg: $color-blue-grey !default;
$dropdown-link-color:               $color-black !default;
$dropdown-link-hover-color:         $color-white !default;
$dropdown-link-hover-bg:            $color-slate-grey !default;
$dropdown-font-size:                2rem !default;

$dropdown-padding-x:                .5rem !default;
$dropdown-padding-y:               .5rem !default;
$dropdown-item-padding-y:           1rem !default;
$dropdown-item-padding-x:           .5rem !default;

$font-weight-normal: 300;
$dropdown-link-active-bg: $color-blue;



